Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Main Pages
RewriteRule ^home/?$ ./?page=home
RewriteRule ^login/?$ ./?page=login
RewriteRule ^logout/?$ ./?page=logout
RewriteRule ^changelog/?$ ./?page=changelog
RewriteRule ^signup/?$ ./?page=signup
RewriteRule ^search/(\d+)?$ ./?page=search&for=$1
RewriteRule ^newest/?(.*)/?$ ./?page=newest&pagination=$1
RewriteRule ^system/schedule?(/)?$ ./?page=schedule

# Watching
RewriteRule ^animes/?(.*)/?$ ./?page=animes&pagination=$1
RewriteRule ^anime/(\d+)/?$ ./?page=anime&id=$1
RewriteRule ^watch/(\d+)/?([0-9])/?$ ./?page=watch&id=$1&ep=$2

# Users
RewriteRule ^user/settings/?$ ./?page=settings&setting=$1
RewriteRule ^user/follows?(/)?(.+)/?$ ./?page=follows&pagination=$1
RewriteRule ^user/watchlist/(\d+)/?([0-9])?/?(.*)/?$ ./?page=watchlist&from=$1&pagination=$2&after=$3
RewriteRule ^user/([0-9])/?(.*)/?$ ./?page=user&id=$1

# Admin Pages
RewriteRule ^system/admin/?$ ./?page=admin&action=default
RewriteRule ^system/admin/default/?$ ./?page=admin&action=default
RewriteRule ^system/admin/add_anime/?$ ./?page=admin&action=add_anime
RewriteRule ^system/admin/edit_anime/(.*)/?$ ./?page=admin&action=edit_anime&id=$1
RewriteRule ^system/admin/browse_anime/?$ ./?page=admin&action=browse_anime
RewriteRule ^system/admin/edit_episodes/(.*)/?$ ./?page=admin&action=edit_episode&id=$1
RewriteRule ^system/admin/browse_episodes/?$ ./?page=admin&action=browse_episodes
RewriteRule ^system/admin/delete_comment/(.*)/?$ ./?page=admin&action=delete_comment&id=$1
RewriteRule ^system/admin/edit_comment/(.*)/?$ ./?page=admin&action=edit_comment&id=$1
RewriteRule ^system/admin/manage_comments/?$ ./?page=admin&action=manage_comments
RewriteRule ^system/admin/manage_users/?$ ./?page=admin&action=manage_users
RewriteRule ^system/admin/edit_user/(.*)/?$ ./?page=admin&action=edit_user&id=$1
RewriteRule ^system/admin/browse_users/?$ ./?page=admin&action=browse_users
RewriteRule ^system/admin/view_reports/?$ ./?page=admin&action=view_reports
RewriteRule ^system/admin/view_report/(.*)/?$ ./?page=admin&action=view_report&id=$1

ErrorDocument 404 /index.php
